.text-animate {
  opacity: 0;
  animation: bounceIn 1s forwards;
  min-width: 10px;
  text-transform: uppercase;
  display: inline-block;
  font-weight: bolder;
  color: var(--color-accent);
  font-size: 24px !important;

  &-hover {
    min-width: 5px;
    font-size: 24px !important;
    text-transform: uppercase;
    font-weight: bolder;
    color: var(--color-accent);
    display: inline-block;
    animation-fill-mode: both;

    &:hover {
      animation: rubberBand 1s;
      color: var(--color-text);
    }
  }
}

@for $i from 1 through 39 {
  .text-animate._#{$i} {
    animation-delay: #{calc($i / 10)}s;
  }
}
