.cbs__page-pricing__container {
  min-height: 100vh;
  padding-top: 20%;
}
.cbs__page-pricing__body {
  width: 100%;
  text-align: center;
}
.cbs__page-pricing__body h2 {
  color: var(--color-accent);
}
