.cbs__cta {
  --margin: 5rem;
  margin-right: 5rem;
  background-image: var(--gradient-bar);
  width: calc(100vw - var(--margin));
  height: 30vh;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;

  position: relative;
  z-index: 1;
}

.cbs__cta-frame {
  width: 100%;
  /* border-radius: 8px; */
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-inline: 5rem;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.cbs__cta-frame > p {
  font-size: 24px !important;
  color: var(--light);
  font-weight: 700;
  margin-block: 1rem;
  letter-spacing: 1px;
  transition: all 350ms ease-in-out;
}

.cbs__cta-frame > p:hover {
  letter-spacing: 3px;
}

.cbs__cta-tools {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 75%;
  flex-wrap: wrap;
}

.cbs__cta-tools p svg {
  font-size: 40px;
  color: var(--color-accent);
}

.cbs__cta-tools p {
  margin: 0 1rem;
}

.cbs__cta-container {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem 2rem;
}

.cbs__cta-content {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
}

.cbs__cta-content p,
.cbs__cta-content h2 {
  color: var(--light);
}

.cbs__cta-content p {
  color: var(--light);
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;

  border: 1px solid var(--light);
  padding: 1px 3px;
  width: fit-content;
}

/* GET STARTED ANIMATION */

.cbs__cta-button a {
  display: flex;
  width: max-content;
  height: 48px;
  line-height: 32px;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  padding-inline: 1rem;
  /* color: var(); */
  /* border: 2px solid var(--accent); */
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.35s;

  border-radius: 8px;
  overflow: hidden;
}

.cbs__cta-button a span {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  margin: auto;
  position: relative;
  z-index: 2;
}

.cbs__cta-button a:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--color-bg-2);
  transition: all 0.35s;
}

.cbs__cta-button a:hover:after {
  border-radius: 8px;
  width: 100%;
}

@media screen and (max-width: 1300px) {
  .cbs__cta {
    margin-right: 3rem !important;
  }
}

@media screen and (max-width: 990px) {
  .cbs__cta {
    margin-right: 0;
    width: 100%;
    border-radius: 0;
    height: max-content;
  }

  .cbs__cta-frame {
    position: relative;
    padding-inline: 1rem;
  }

  .cbs__cta .cbs__cta-container {
    flex-direction: column;
  }

  .cbs__cta-container {
    padding: 0.5rem;
  }

  .cbs__cta-button {
    margin-top: 1rem;
    transform: scale(0.8);
  }
}

@media screen and (max-width: 550px) {
  .cbs__cta-content {
    max-width: max-content;
    align-items: center;
    text-align: center;
  }

  .cbs__cta-content h2,
  .cbs__cta-button {
    font-size: 16px;
  }

  .cbs__cta-button {
    margin-right: unset;
  }
}
