$width: 100%;

.alert {
  &-container {
    position: fixed;
    z-index: 999999;
    top: 70px;
    right: 0;
    left: 0;
    padding: 0.5rem 1rem;
    opacity: 0.9;
    background: var(--color-bg-2);

    color: #fff !important;

    transition: all 500ms;
  }

  &-body {
    padding-inline: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    a {
      font-size: 14px;
      text-align: end;
      text-decoration: underline;
      padding-right: 1rem;

      &:hover {
        color: var(--color-text);
      }
    }
  }
}

.alert-show {
  animation: slideIn 500ms forwards;
}

.alert-hide {
  opacity: 0;
  display: none;
}

.alert-close-btn {
  position: absolute;
  z-index: 2;
  top: 4px;
  right: 4px;
}

.alert-close-btn svg {
  background: transparent;
  color: #fff;
  font-size: 18px !important;
  cursor: pointer;
}

.alert-close-btn svg:hover {
  color: rgba(239, 12, 12, 0.9);
}

.alert-title p {
  font-weight: bold;
  text-transform: capitalize;
}

.alert-body p {
  font-size: 12px;
  user-select: text;
}

@keyframes slideIn {
  from {
    right: -450px;
    opacity: 0;
  }
  to {
    opacity: 1;
    right: 2rem;
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    right: 2rem;
  }
  to {
    right: -450px;
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
