.cbs__pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
}

.cbs__pricing-content {
  width: 100%;
}

/* Override Standard Card template */
._standard {
  position: relative;
  z-index: 1;
}

.cbs__pricing-best-value {
  width: fit-content;
  padding: 2px 10px;
  background-color: var(--color-text);
  color: var(--light);
  border-radius: 8px;
  font-size: 28px;

  position: absolute;
  z-index: 2;
  top: -30px;
  transform: translateX(23%);
}

.cbs__pricing-learn-more {
  margin-top: 1rem;
  color: var(--color-text);
  font-size: 18px;
  font-weight: bold;
}

.cbs__pricing-learn-more:hover {
  letter-spacing: 2px;
  text-decoration: underline;
}

.cbs__pricing-learn-more:after {
  content: "";
}

.cbs__pricing-learn-more:hover:after {
  content: " \00BB";
}

._show-more {
  height: fit-content !important;
}

._show-less {
  display: none;
}

@media screen and (max-width: 550px) {
  .cbs__pricing h1 {
    text-align: center;
    transform: scale(0.9);
  }
}

/* KEYFRAME ANIMATION */

// PRICING MODAL
._card-container {
  position: relative !important;
  z-index: 1;
}
.pricing-modal-container {
  position: fixed;
  z-index: 9999999999;
  top: 0;
  right: 48%;
  background-color: transparent;
  width: 0;
  height: 0;
  border-radius: 50%;
  opacity: 0;

  transition: all 500ms;

  display: flex;
  justify-content: center;
  align-items: center;
}

.pricing-modal-show {
  top: 10%;
  transform: translateX(48%);
  border-radius: 24px;
  width: 100vw;
  height: 100vh;
  opacity: 1;
}

.pricing-modal-hide {
  top: 0;
  transform: translateX(50%);
  width: 0 !important;
  height: 0 !important;
}
