.cbs__form-container {
  width: 100%;
  margin: 2rem 0 1rem;

  display: flex;
}

.cbs__form-container input {
  --font-size: 24px;

  background: rgba(255, 255, 255, 0.2);
  border: 2px solid #ff7c03;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  padding: 0.5rem 1rem;
  font-size: var(--font-size);
  line-height: calc(var(--font-size) + 4px);
  outline: none;
  color: #fff;
  font-family: var(--font);

  max-width: 300px;
}

.cbs__form-container button {
  --color: #ff7c03;

  outline: none;
  display: inline;
  border: 2px solid var(--color);
  background: var(--color);
  font-size: 24px;
  font-weight: bold;
  font-family: var(--font);
  padding: 0.5rem;

  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  letter-spacing: 1px;

  overflow: hidden;
}

.cbs__form-container button svg {
  transform: translateX(-50px);
  margin: 0 -10px;
}

.cbs__form-container input:focus + button svg {
  margin: 0 10px 0 5px;
  -webkit-animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.cbs__form-container button:active {
  letter-spacing: normal;
}

/* MEDIA QUERY */
@media screen and (max-width: 1330px) {
  .cbs__header {
    flex-direction: column;
  }

  .cbs__header-content {
    margin: 0 0 3rem;
  }

  .cbs__header-content h1,
  .cbs__header-content p,
  .cbs__header-excerpt {
    text-align: center;
  }

  .cbs__form-container,
  .cbs__header-excerpt {
    justify-content: center;
  }

  .cbs__form-container input,
  .cbs__form-container button {
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (max-width: 650px) {
  .cbs__form-container input {
    width: 200px;
  }

  .cbs__form-container input,
  .cbs__form-container button {
    font-size: 16px;
    line-height: 18px;
  }
}

@media screen and (max-width: 499px) {
  .cbs__form-container button svg {
    display: none;
  }

  .cbs__form-container input {
    width: 190px;
  }

  .cbs__form-container button {
    padding: 0.25rem;
  }
}

/* KEYFRAME QUERY */

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
