.cbs__form-container {
  height: 42px;
}

.cbs__form-container {
  width: 100%;
  margin: 2rem 0 1rem;

  display: flex;
  flex-direction: row;
  align-items: center;
}

#email,
#emailSend,
#emailStart {
  font-size: 16px;
  line-height: 20px;
  border: none;
  outline: none;
  height: 42px;
}

#email,
.cbs__form-button__container {
  height: 42px;
  border: 2px solid var(--color-text);
}

/* main input */
.cbs__form-container #email {
  background: rgba(255, 255, 255, 0.2);
  font-size: var(--font-size);
  outline: none;
  color: #fff;
  font-family: var(--font);
  padding-inline: 15px;
}

.cbs__form-button__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: fit-content;
  overflow: hidden;
  outline: none;
  border: none;
  background-color: var(--color-text);
  border: 2px solid var(--color-text);
}

/* buttons */
.cbs__form-button__container > input {
  outline: none;
  border: none;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: var(--light);
  letter-spacing: 2px;
  background: transparent;

  transition: all 500ms ease;
}

#emailSend {
  letter-spacing: 5px !important;
}

.inactive-emailStart {
  margin-bottom: 0;
}

.inactive-emailSend {
  margin-top: -42px;
}

.focus-emailStart {
  margin-bottom: -42px;
}

.focus-emailSend {
  margin-top: 0;
}

/* MEDIA QUERY */
@media screen and (max-width: 1330px) {
}

@media screen and (max-width: 650px) {
  .cbs__email-form {
    transform: scale(0.7);
  }
}

@media screen and (max-width: 499px) {
  #email {
    width: 200px;
  }
}

/* KEYFRAME QUERY */

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
