form.cbs__form-container{
  height: 42px;
}

.cbs__form-container {
  width: 100%;
  margin: 2rem 0 1rem;

  display: flex;
}

.cbs__form-container > input {
  --font-size: 18px;

  background: rgba(255, 255, 255, 0.2);
  border: 2px solid #ff7c03;
  padding: 0.5rem 1rem;
  font-size: var(--font-size);
  line-height: calc(var(--font-size) + 4px);
  outline: none;
  color: #fff;
  font-family: var(--font);
}

.cbs__form-button__container{
  display: flex;
  flex-direction: column;
  width: 150px;
  overflow: hidden;

  outline: none;
  border: none;
  border-top: 2px solid var(--color-text);
  border-right: 2px solid var(--color-text);
  border-bottom: 2px solid var(--color-text);
}

.cbs__form-button__container > input,
.cbs__form-button__container > button{
  height: 42px;
  outline: none;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: var(--light);
  background-color: #ff7c03;
  letter-spacing: 2px;

  transition: all 500ms ease;
}
.cbs__form-button__container > button{
  margin-top: -42px;
}

.button-style{
  margin-top: 0;
  background-color: transparent;
  color: var(--color-text);
}

.input-stye{
  /* margin-bottom: -42px; */
  display: none;
}
/* Button */
.roll-down{
}
/* Button */
.roll-up{
  margin-top: 0;
  background-color: transparent;
  color: var(--color-text);
}

/* MEDIA QUERY */
@media screen and (max-width: 1330px) {
}

@media screen and (max-width: 650px) {


}

@media screen and (max-width: 499px) {


}

/* KEYFRAME QUERY */

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
