.cbs__footer {
  display: flex;
  flex-direction: column;
  padding: 1rem 3rem;
}

.cbs__footer * h2,
.cbs__footer * h3,
.cbs__footer * h4 {
  margin-top: 0.5rem;
}

.cbs__footer-separator {
  height: 2px;
  width: 100%;
  background: var(--gradient-bar);
}

.cbs__footer-brand-lang {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cbs__footer-brand-lang .cbs__footer-brand {
  display: flex;
  flex: 1;
}

.cbs__footer-brand-lang .cbs__footer-brand img {
  height: 30px;
}
.cbs__footer-brand-lang .cbs__footer-brand p {
  color: var(--color-accent);
  font-size: 16px;
}
.cbs__footer-brand-lang .cbs__footer-lang {
  display: flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  color: var(--color-text);
}
.cbs__footer-brand-lang .cbs__footer-lang p {
  margin-right: 0.75rem;
  font-size: 18px;
  font-weight: bold;
}
.cbs__footer-brand-lang .cbs__footer-lang select {
  outline: none;
  border: none;
  background: transparent;
  border: 2px solid var(--color-text);
  color: var(--color-text);
  padding: 3px 10px;
  font-size: 18px;
  border-radius: 5px;
}

.cbs__footer-main {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  color: var(--color-text);
  padding: 10px 0;
}
.cbs__footer-main > div:not(:last-child) {
  margin-inline: 0.5rem;
}

.cbs__footer-main__sub-contacts {
  margin-top: 1rem;
  width: 50%;
}

.cbs__footer-main__sub .cbs__form-container {
  margin-block: 1rem;
  justify-content: center;
  /* transform: scale(0.8); */
}

.cbs__footer-main__sub-contacts h3 {
  text-align: center;
}

.cbs__footer-main__contacts {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cbs__footer-rights-media-sitemap {
  display: grid;
  grid-template-columns: 50% 25% 25%;
  padding-top: 1rem;
}

.cbs__footer-rights-media-sitemap .cbs__footer-col-1 {
  display: flex;
  flex-direction: row;
  padding-inline: 0.5rem;
}
.cbs__footer-rights-media-sitemap .cbs__footer-col-1 .cbs__footer-rights-terms {
  display: flex;
  align-items: center;
}
.cbs__footer-rights-media-sitemap
  .cbs__footer-col-1
  .cbs__footer-rights-terms
  p {
  margin-right: 2rem;
  color: hsl(0, 7%, 39%);
  font-size: 18px;
  font-weight: bold;
}

.cbs__footer-rights-media-sitemap .cbs__footer-col-1 ul {
  display: flex;
  list-style-type: none;
}

.cbs__footer-rights-media-sitemap .cbs__footer-col-1 ul li {
  margin-right: 0.5rem;
  font-weight: bold;
  color: var(--color-text);
}

.cbs__footer-rights-media-sitemap .cbs__footer-col-2 .cbs__footer-social {
  display: flex;
  justify-content: center;
}
.cbs__footer-rights-media-sitemap .cbs__footer-col-2 .cbs__footer-social p {
  margin-inline: 0.5rem;
}

.cbs__footer-rights-media-sitemap .cbs__footer-col-3 .cbs__footer-site-map a {
  color: hsl(0, 7%, 39%);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.cbs__footer-rights-media-sitemap
  .cbs__footer-col-3
  .cbs__footer-site-map
  a:before {
  content: "/";
}

/* MEDIA QUERY */
@media screen and (max-width: 990px) {
  .cbs__footer-main__sub-contacts {
    width: 100%;
  }

  .cbs__footer-main__sub-contacts .cbs__footer-main__contacts {
    justify-content: space-around;
  }

  .cbs__footer-rights-media-sitemap .cbs__footer-col-1 {
    grid-column: span 3;
    justify-content: center;
  }
}

@media screen and (max-width: 790px) {
  .cbs__footer-brand-lang {
    flex-wrap: wrap;
  }

  .cbs__footer-brand,
  .cbs__footer-lang {
    width: 100%;
    justify-content: center;
    margin-top: 1rem;
  }

  .cbs__footer-main {
    justify-content: space-between;
  }

  .cbs__footer-rights-terms {
    flex-wrap: wrap;
    justify-content: center;
  }

  .cbs__footer-social,
  .cbs__footer-site-map {
    justify-content: center;
    text-align: center;
  }
}

@media screen and (max-width: 550px) {
  .cbs__footer-main {
    justify-content: space-between;
  }
  .cbs__footer-main__sub-contacts .cbs__footer-main__contacts {
    width: 100%;
    justify-content: flex-start;
  }

  .cbs__footer-rights-media-sitemap {
    padding-top: 0.5rem;
  }
}
