.cbs__footer {
  display: flex;
  flex-direction: column;
  padding: 1rem 3rem;
}

.cbs__footer-separator {
  height: 2px;
  width: 100%;
  background: var(--gradient-bar);
}

.cbs__footer-section-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cbs__footer-section-1 .cbs__footer-brand {
  display: flex;
  flex: 1;
}

.cbs__footer-section-1 .cbs__footer-brand img {
  height: 30px;
}
.cbs__footer-section-1 .cbs__footer-brand p {
  color: var(--color-accent);
  font-size: 16px;
}
.cbs__footer-section-1 .cbs__footer-lang {
  display: flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  color: var(--color-text);
}
.cbs__footer-section-1 .cbs__footer-lang p {
  margin-right: 0.75rem;
  font-size: 24px;
  font-weight: bold;
}
.cbs__footer-section-1 .cbs__footer-lang select {
  outline: none;
  border: none;
  background: transparent;
  border: 2px solid var(--color-text);
  color: var(--color-text);
  padding: 3px 10px;
  font-size: 24px;
  border-radius: 5px;
}

.cbs__footer-section-2 {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  color: var(--color-text);
  padding: 10px 0;
}
.cbs__footer-section-2 .cbs__footer-col-1,
.cbs__footer-section-2 .cbs__footer-col-2,
.cbs__footer-section-2 .cbs__footer-col-3 {
  padding: 5px 10px;
}

.cbs__footer-section-3 {
  display: grid;
  grid-template-columns: 50% 25% 25%;
  padding-top: 1rem;
}

.cbs__footer-section-3 .cbs__footer-col-1 {
  display: flex;
  flex-direction: row;
  padding-inline: 0.5rem;
}
.cbs__footer-section-3 .cbs__footer-col-1 .cbs__footer-rights-terms {
  display: flex;
  align-items: center;
}
.cbs__footer-section-3 .cbs__footer-col-1 .cbs__footer-rights-terms p {
  margin-right: 2rem;
  color: hsl(0, 7%, 39%);
  font-size: 18px;
  font-weight: bold;
}

.cbs__footer-section-3 .cbs__footer-col-1 ul {
  display: flex;
  list-style-type: none;
}

.cbs__footer-section-3 .cbs__footer-col-1 ul li {
  margin-right: 0.5rem;
  font-weight: bold;
  color: var(--color-text);
}

.cbs__footer-section-3 .cbs__footer-col-2 {
}
.cbs__footer-section-3 .cbs__footer-col-2 .cbs__footer-social {
  display: flex;
  justify-content: center;
}
.cbs__footer-section-3 .cbs__footer-col-2 .cbs__footer-social p {
  margin-inline: 0.5rem;
}

.cbs__footer-section-3 .cbs__footer-col-3 .cbs__footer-site-map a {
  color: hsl(0, 7%, 39%);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.cbs__footer-section-3 .cbs__footer-col-3 .cbs__footer-site-map a:before {
  content: "/";
}

/* MEDIA QUERY */
@media screen and (max-width: 990px) {
  .cbs__footer-section-3 .cbs__footer-col-1 {
    grid-column: span 3;
    justify-content: center;
  }
}

@media screen and (max-width: 790px) {
  .cbs__footer-section-1 {
    flex-wrap: wrap;
  }

  .cbs__footer-brand,
  .cbs__footer-lang {
    width: 100%;
    justify-content: center;
    margin-top: 1rem;
  }

  .cbs__footer-section-2 {
    justify-content: space-between;
  }

  .cbs__footer-section-2 .cbs__footer-col-4 {
    text-align: center;
    width: 100%;
    justify-content: center;
  }
  .cbs__footer-rights-terms {
    flex-wrap: wrap;
    justify-content: center;
  }

  .cbs__footer-social,
  .cbs__footer-site-map {
    justify-content: center;
    text-align: center;
  }
}

@media screen and (max-width: 550px) {
  .cbs__footer-section-2 {
    justify-content: space-between;
  }
  /* .cbs__footer-section-2 .cbs__footer-col-4 {
    width: 100%;
    justify-content: center;
  } */

  .cbs__footer-section-3 {
    padding-top: 0.5rem;
  }
}
